.sobreNos {
  height: 650px;
  margin: 120px;
}

.container_sobreNos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_SobreNos {
  color: var(--verde);
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 50px;
}

.paragrafo_sobreNos {
  color: var(--verde);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.8;
  padding: 0 200px 0 0;
  margin-bottom: 20px;
}

.container_imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  height: 350px;
}
